<launch>
  <!-- This launchfile should bring up three nodes for three cameras that broadcasts a ros image
       transport on /webcam/image_raw -->

<arg name="namespace" default="sam"/>
<arg name="mode" default="default"/>
<arg name="output_path" default="/xavier_ssd/footage/video/"/>

<include file="$(find sam_camera_config)/launch/nv_jpeg.launch">
  <arg name="sensor_id" default="0"/>
</include>

<include file="$(find sam_camera_config)/launch/nv_jpeg.launch">
  <arg name="sensor_id" default="1"/>
</include>

<include file="$(find sam_camera_config)/launch/nv_jpeg.launch">
  <arg name="sensor_id" default="2"/>
</include>

<include file="$(find sam_camera_config)/launch/record_single_bash.launch">
  <arg name="sensor_id" value="0"/>
  <arg name="filename" value="auto"/>
  <arg name="path" value="$(arg output_path)"/>
</include>

<include file="$(find sam_camera_config)/launch/record_single_bash.launch">
  <arg name="sensor_id" value="1"/>
  <arg name="filename" value="auto"/>
  <arg name="path" value="$(arg output_path)"/>
</include>

<include file="$(find sam_camera_config)/launch/record_single_bash.launch">
  <arg name="sensor_id" value="2"/>
  <arg name="filename" value="auto"/>
  <arg name="path" value="$(arg output_path)"/>
</include>


</launch>

