<launch>
  <!-- This launchfile is for start up the cameras on SAM to publish compressed jepg images to ros topic -->

  <!-- sensor_id=0 is the camera looking down, 1 is the camera on the right front, 2 is on the left front  -->
  <arg name="sensor_id" default="2"/>
  <arg name="robot_name" default="sam"/>

  <!-- The GStreamer framerate needs to be an integral fraction -->
  <arg name="FPS" default="30"/>
  <arg name="PUBLISH_FRAME" default="false"/>
  <arg name="WIDTH" default="640"/>
  <arg name="HEIGHT" default="360"/>
  <arg name="cam_frame" default="$(arg robot_name)/camera_down_link"/>
  

  <arg name="cam_name" default="$(arg robot_name)/perception/csi_cam_$(arg sensor_id)" />

  <node ns="$(arg cam_name)" name="gscam_driver_csi_$(arg sensor_id)" pkg="gscam" type="gscam" output="screen">

 <!-- Make arguments available to parameter server -->
  <param name="$(arg cam_name)/camera_id" type="int" value="$(arg sensor_id)" />
  <param name="$(arg cam_name)/image_width" type="int" value="$(arg WIDTH)" />
  <param name="$(arg cam_name)/image_height" type="int" value="$(arg HEIGHT)" />
  <param name="$(arg cam_name)/target_fps" type="int" value="$(arg FPS)" />

    <param name="camera_name" value="default"/>
    <param name="gscam_config" value="nvarguscamerasrc tnr-mode=0 sensor-id=$(arg sensor_id) ! video/x-raw(memory:NVMM), framerate=$(arg FPS)/1, width=1280, height=720! nvvidconv ! video/x-raw(memory:NVMM), 
width=(int)$(arg WIDTH), height=(int)$(arg HEIGHT) ! nvjpegenc ! multipartmux ! multipartdemux ! jpegparse"/>
    <param name="use_gst_timestamps" value="true"/>
    <param name="image_encoding" value="jpeg"/>
    <param name="frame_id" value="$(arg cam_frame)"/>
    <param name="sync_sink" value="true"/>
  </node>

</launch>
